<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.guimsbeber.buddyfit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.guimsbeber.buddyfit.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.guimsbeber.buddyfit.MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="fr.guimsbeber.buddyfit.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="fr.guimsbeber.buddyfit.SignUpMailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="fr.guimsbeber.buddyfit.GetStartedActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="fr.guimsbeber.buddyfit.ProfilActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="fr.guimsbeber.buddyfit.ExerciceAcitivty"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="fr.guimsbeber.buddyfit.ExerciceHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="fr.guimsbeber.buddyfit.RoutineListActivity"
            android:label="@string/title_activity_routine_list"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="fr.guimsbeber.buddyfit.RoutineCreateActivity"
            android:label="@string/title_activity_routine_create"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="fr.guimsbeber.buddyfit.RoutineActivity"
            android:label="@string/title_activity_routine"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="fr.guimsbeber.buddyfit.ExercicesActivity"
            android:label="@string/title_activity_activities"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        </activity>
    </application>

</manifest>